{% extends 'base.html.jinja' %}

{% block title%}
{{ super() }} - 首頁
{% endblock %}

{% block head%}
{{ super() }}
<style type"text/css">
    body {
        background-color: white;
    }
</style>
{% endblock %}


{% block main%}
<a href="{{ url_for('index') }}" class="btn btn-primary mt-3">返回</a>
        <h3 class="mt-5">資料集內容</h3>
        <div class="table-responsive">
            {{ table | safe }}
        </div>
{% endblock %}