{% extends 'base.html.jinja' %}

{% block title %}
{{ super() }} - 首頁
{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
    body {
        background-color: white;
    }
     .image-container {
       padding-bottom: 20px; /* 調整間隔的大小 */
    }
</style>
{% endblock %}

{% block main %}
<div class="text-center image-container">
    <img src="{{ url_for('static', filename='images/圖片2.jpg') }}" alt="Example Image" class="img-fluid" width="600" height="400">
</div>
<div class="text-center">
<h4>歡迎來到波士頓房價預測應用</h4>
<p>這是一個預測房價的使用模型評估，使用波士頓房價數據集來展示如何應用各種機器學習模型進行預測。</p>
<p>在這裡，你將能夠探索數據、訓練模型並評估最符合的模型結果。</p>
</div>
{% endblock %}
