<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='style/bootstrap.min.css')}}" rel="stylesheet">
    <script src="{{url_for('static',filename='style/bootstrap.min.js')}}"></script>
    <title>Bootstrap demo</title>
</head>
<body>
    <div class="container-md" style="background-color: blueviolet;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis doloremque quas soluta quidem sit beatae, magni, provident et iusto quisquam tempora? Quidem distinctio est tenetur eveniet qui eius harum, perferendis repellat, molestias corrupti ipsam totam? Illo accusantium rem dolor laborum dolorum distinctio, corrupti adipisci consequatur voluptates sunt cupiditate est blanditiis quaerat itaque accusamus iure, culpa soluta? Error voluptatibus suscipit, voluptate corrupti, qui id, minima sapiente sequi alias deserunt consectetur? Aliquid officia totam repellendus fuga tempora sequi dolores reiciendis at ab consectetur et qui suscipit, natus officiis esse quas nostrum explicabo, illum, quos ut unde temporibus. Totam aliquam placeat corrupti vitae?
    </div>
</body>
</html>