{% extends 'base.html.jinja' %}

{% block title%}
{{ super() }} - 首頁
{% endblock %}

{% block head%}
{{ super() }}
<style type"text/css">
    body {
        background-color: white;
    }
</style>
{% endblock %}


{% block main%}
<h1 class="mt-5">資料集內容</h1>
    <div>{{ table|safe }}</div>
        
<h2 class="mt-5">描述性統計信息</h2>
    <div>{{ desc|safe }}</div>
{% endblock %}